@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel:wght@500&family=DM+Serif+Display&family=Lobster+Two&family=Philosopher&family=Protest+Strike&family=Tapestry&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(252, 252, 233, 0.781)
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Abril Fatface', serif;
    font-size: 70px;
}
h1 a {
    text-decoration: none;
    color: black;
}
h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    background-color:  rgb(234, 219, 200);
    font-family: 'Berkshire Swash', serif;
    font-family: 'Cinzel', serif;
}
h3 {
    text-align: center;
    padding-top: 20px;
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-family: 'Berkshire Swash', serif;
    font-family: 'Cinzel', serif;
}
.show-search-link {
    position: absolute;
    left: 30px; 
    top: 30px; 
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
}

.show-search-link__text {
    margin-left: 15px;
    font-size: 20px;
    
}
.show-search-link,
.show-search-link:hover, 
.show-search-link:visited {
    text-decoration: none !important; 
}
.logo-area {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo-area__left {
    flex: 1; 
}

.logo-area__right {
    position: relative;
}

.cart-link {
    position: absolute;
    right: 30px; 
    top: 30px;
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cart-link__icon {
    margin-left: 5px; 
}
.cart-link__label {
    font-size: 18px;
    margin-right: 15px;
}
.wishlist-link {
    position: absolute;
    right: 110px; 
    top: 30px;
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.wishlist-link__icon {
    margin-left: 5px; 
}
.wishlist__label {
    font-size: 18px;
    margin-right: 15px;
}
.account-link {
    position: absolute;
    right: 70px; 
    top: 30px;
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.account-link__icon {
    margin-left: 5px; 
}
.account__label {
    font-size: 18px;
    margin-right: 15px;
}
.flag-link {
    position: absolute;
    right: 150px;
    
    top: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: rgba(252, 252, 233, 0.781);
    
}

.flag-link .dropdown-content {
    display: flex;
    gap: 10px;
    background-color: rgba(252, 252, 233, 0.781);
    
}

.flag-link .dropdown-content a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgb(252, 252, 233, 0.781);
    top: 25px;
}

.flag-link .dropdown-content a:hover {
    background-color: rgb(252, 252, 233, 0.781);
}
.flag-link .dropdown-content a:visited {
    color: black;
    
}

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    width: 500%;
}
#slider figure img {
    padding-top: 0;
    width: 20%;
    height: auto;
    max-height: 700px; 
    display: block;
    margin: 0;
    float: left;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.nav-links {
    flex: 1;
    text-align: center;
    border-top: 0.4px solid black;
    border-bottom: 0.4px solid black; 
    padding: 5px; 
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    font-size: 20px;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(2, 2, 2);
}
.nav-links a:hover {
    color: brown;
    border-bottom: 2px solid brown;
    padding-bottom: 12px;
}
.info ul li {
    text-align: center;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    background: rgb(234, 219, 200);
    padding: 30px;
    height: 280px;
    margin: 20px;
}
.info ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.info h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 1;
    padding: 20px;
    padding-top: 3%;
    font-family: 'Berkshire Swash', serif;
    font-family: 'Cinzel', serif;
}
.info h4 {
    text-align: center;
    padding: 10px;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    font-size: 20px;
}
.info p {
    text-align: center;
    padding: 0 150px;
    line-height: 1.6;
    margin-top: 5px;
    font-size: 20px;
}

.yhteystiedot {
    margin-top: 50px;
    text-align: left;
    width: 40%;
    font-size: 20px;
}
.yhteystiedot ul li{
    padding: 5px;
    list-style: none;
    width: 100%;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 20;
    padding-left: 20px;
    font-family: 'Berkshire Swash', serif;
    font-family: 'Cinzel', serif;
    
}
.contact-form {
    width: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgb(192, 119, 74);
    margin-top: 50px;
}
label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

button {
    background-color: black;
    color: #fdfbfb;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product {
    flex: 0 1 calc(32% - 20px); /* Three products per row with some margin */
    margin: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(192, 119, 74);
    box-sizing: border-box;
    display: flex; /* Lisää display: flex; varmistaaksesi, että sisältö mukautuu oikein */
    flex-direction: column;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    max-width: 90%; /* Pienennä max-width-arvoa */
    margin: 0 auto
}
.product img {
    width: 100%;
    height: auto;
    max-width: 100%;
    
}
.product-info {
    padding: 10px;
    text-align: center;
    flex: 1;
    font-family: 'Berkshire Swash', serif;
    font-family: 'Cinzel', serif;
}
.somet {
    display: flex;
    justify-content: center;
}

.instagram img {
    display: block;
    margin-top: 30px;
    margin-right: 10px; 
    margin-left: 10px;
}
.facebook img {
    display: block;
    margin-top: 35px;
    margin-right: 10px; 
    margin-left: 10px;
}
.youtube img {
    display: block;
    margin-top: 35px;
    margin-right: 10px; 
    margin-left: 10px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
}
@media screen and (max-width: 750px) {
    h1 {
        font-size: 35px;
    }

    h2, h3, h4 {
        font-size: 20px;
    }
    
    .show-search-link, .show-search-link__text, .show-search-link__icon {
        left: 5px;
        top: 5px;
        font-size: 15px;
        width: 15px;
    }
        .info ul li { /* Adjusted font size for info box */
        width: calc(100% - 40px); /* Otetaan huomioon marginaalit */
        margin: 10px; /* Pienemmät marginaalit */
        padding: 0 10px; /* Pienempi padding */
        height: 135px;
        font-size: 15px;
    }
    .info ul {
        flex-direction: column;
    }

    .info h3 {
        font-size: 25px;
        padding-bottom: 5px;
        padding-top: 5%;
    }
    .info h4 {
        font-size: 15px;
        padding-bottom: 3%;
    }

    .info p {
        font-size: 15px; /* Adjusted font size for info box text */
        max-width: 100%;
        padding: 0 20px; 
    }
    .product {
        flex: 0 1 calc(45% - 20px); /* Two products per row with some margin */
    }
    .product-container {
        max-width: 90%; /* Adjust the container's width to 100% on smaller screens */
    }
    .product-info {
        font-size: 12px;
    }
    .product-info h4{
        font-size: 15px;
    }
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items on smaller screens */
    }

    .yhteystiedot,
    .contact-form {
        width: 85%; /* Full width for both sections on smaller screens */
        text-align: center;
        font-size: 15px;
    }
    .container h3 {
        font-size: 20px; /* Adjust the font size for headings on smaller screens */
        padding-bottom: 10px;
    }
    .yhteystiedot h4  {
        font-size: 16px;
    }

    .show-search-link {
        left: 10px;
        top: 10px;
    }
    .flag-link {
        right: 25px;
    }

    .flag-link .dropdown-content {
        top: auto;
        right: 5px;
        position: absolute;
        padding-bottom: 10px;
    }

    .flag-link .dropdown-content a {
        font-size: 12px; /* Adjust the font size for smaller screens */
        padding: 0; /* Adjust the padding for smaller screens */
    }
    .cart-link {
        display: block;
        position: absolute;
        top: 1%;
        right: 1px; 
    }
    .account-link,
    .wishlist-link {
        display: none;
    }
}
