*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(252, 252, 233, 0.781)
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Abril Fatface', serif;
    font-size: 60px;
}
h1 a {
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.nav-links {
    flex: 1;
    text-align: center;
    border-top: 0.5px solid black; /* Yläviiva */
    border-bottom: 0.5px solid black; /* Alaviiva */
    padding: 5px 0; /* Säädä tarpeesi mukaan */
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(2, 2, 2);
}
.nav-links a:hover {
    color: gold
}
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    width: 500%;
}
#slider figure img {
    padding-top: 5px;
    width: 20%;
    height: auto;
    max-height: 700px; /* Adjust the max-height as needed */
    display: block;
    margin: 0 auto;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
}
